<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Teleselfie Hello World</title>
    <script src="//static.opentok.com/webrtc/v2.2/js/TB.min.js"></script>
    <script type="text/javascript">
        var apiKey = '<%= 45636202 %>';
        var sessionId = '<%= sessionId %>';
        var token = '<%= token %>';
    </script>
    <script src="/js/helloworld.js"></script>
</head>
<body>
    <div align="center">
    <h2>Welcome to Tele Selfie!</h2>

    <div id="publisher"></div>
</div>
    <div id="subscribers"></div>
</body>
</html>
